.container {
    margin: 3rem auto;
    max-width: 1000px;
}

.avatar {
    flex: 180px 0 0;
    width: 150px;
    height: 150px;
    margin: 0;
}

.thumbnail {
    background-image: url(../../static/profile_img.jpeg);
  }

.user {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  }

  .user:last-child {
    margin-bottom: 0;
  }

  .description {
    flex: 1;
    margin-left: 18px;
    padding: 12px;
  }
  .username {
    margin: 0 0 12px 0;
    padding: 0;
  }
  .headline {
    margin: 0;
    padding-bottom: 10px;
  }

  .biography {
    margin: 0;
    padding-bottom: 10px;
  }